button{
  padding: 10px;
  width: 100px;
  margin: 20px;
  background-color: #E0E4EE;
  border-radius: 10px;
  border: 1px #E0E4EE solid;
  cursor: pointer;
  color: black;
  font-size: 15px;
}
button:hover{
  background-color: #b6bac3;
}